.tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.tag {
    color: white;
    font-weight: 700;
    font-size: 14px;
    border-radius: 10px;
    border: solid #FF6060;
    background-color: #FF6060;
    padding: 1px 10px 1px 10px;

}