header {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 40px;
}


.LogoRouge {
    width: 210px;
    height: 68px;
}

nav {
    display: flex;
    gap: 40px;
    align-items: center;

    .lien {
        color: black;
        font-weight: 500;

        @media(max-width: 426px) {
            text-transform: uppercase;
        }
    }

    .active {
        text-decoration: underline;
    }
}