.section-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.erreur404 {
    font-size: 288px;
    color: #FF6060;
    font-weight: 700;
    margin: 0;

    @media(max-width: 769px) {
        font-size: 188px;
    }

    @media(max-width: 426px) {
        font-size: 99px;
        margin-top: 35px;
        margin-bottom: 45px;
    }


}

.oups {
    font-size: 36px;
    color: #FF6060;
    font-weight: 500;

    @media(max-width: 769px) {
        font-size: 22px;
    }

    @media(max-width: 426px) {
        font-size: 18px;
        width: 50%;
        margin-bottom: 100px;
    }

    @media(max-width: 376px) {
        font-size: 15px;
    }

    @media(max-width: 321px) {
        font-size: 13px;
    }
}

.revenir {
    font-size: 18px;
    font-weight: 500;
    text-decoration-line: underline;
    margin-bottom: 100px;

    @media(max-width: 769px) {
        font-size: 15px;
    }

    @media(max-width: 426px) {
        font-size: 14px;
    }

    @media(max-width: 376px) {
        font-size: 12px;
    }


}