footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 150px;
    background-color: black;

    @media(max-width: 426px) {
        height: 235px;
        font-size: 12px;
    }
}

.logoBlanc {
    @media(max-width: 426px) {
        width: 33%;
    }

}

.RightsReserved {
    color: white;
    font-weight: 500;

    @media(max-width: 426px) {
        font-size: 12px;
        width: 23%;
    }

    @media(max-width: 376px) {
        width: 26%;
    }

    @media(max-width: 326px) {
        width: 32%;
    }
}