header {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 40px;
}
@media (max-width: 426px) {
  header {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media (max-width: 426px) {
  .LogoRouge {
    width: 45%;
  }
}
@media (max-width: 320px) {
  .LogoRouge {
    margin-right: 5%;
  }
}

nav {
  display: flex;
  gap: 40px;
  align-items: center;
}
nav .lien {
  color: black;
  font-weight: 500;
}
@media (max-width: 426px) {
  nav .lien {
    text-transform: uppercase;
    font-size: 12px;
  }
}
nav .active {
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 150px;
  background-color: black;
}
@media (max-width: 426px) {
  footer {
    height: 235px;
    font-size: 12px;
  }
}

@media (max-width: 426px) {
  .logoBlanc {
    width: 33%;
  }
}

.RightsReserved {
  color: white;
  font-weight: 500;
}
@media (max-width: 426px) {
  .RightsReserved {
    font-size: 12px;
    width: 23%;
  }
}
@media (max-width: 376px) {
  .RightsReserved {
    width: 26%;
  }
}
@media (max-width: 326px) {
  .RightsReserved {
    width: 32%;
  }
}

.carrousel {
  height: 415px;
  width: 100%;
  margin-bottom: 20px;
}
@media (max-width: 426px) {
  .carrousel {
    height: 255px;
  }
}

.image-active {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-inactive {
  display: none;
}

.flecheGauche {
  top: 40%;
  translate: -6%;
  position: absolute;
}
@media (max-width: 1441px) {
  .flecheGauche {
    top: 35%;
  }
}
@media (max-width: 1025px) {
  .flecheGauche {
    top: 47%;
  }
}
@media (max-width: 769px) {
  .flecheGauche {
    height: 90px;
    top: 50%;
  }
}
@media (max-width: 426px) {
  .flecheGauche {
    height: 60px;
    top: 37%;
  }
}

.flecheDroite {
  top: 40%;
  translate: -100%;
  position: absolute;
}
@media (max-width: 1441px) {
  .flecheDroite {
    top: 35%;
  }
}
@media (max-width: 1025px) {
  .flecheDroite {
    top: 47%;
  }
}
@media (max-width: 769px) {
  .flecheDroite {
    height: 90px;
    top: 50%;
  }
}
@media (max-width: 426px) {
  .flecheDroite {
    height: 60px;
    top: 37%;
  }
}

.indexDePosition {
  bottom: 10%;
  margin: 0;
  color: white;
  position: relative;
  left: 50%;
}
@media (max-width: 769px) {
  .indexDePosition {
    display: none;
  }
}

.collapse {
  width: 47%;
  margin-bottom: 15px;
}
@media (max-width: 769px) {
  .collapse {
    width: 100%;
  }
}

.collapse-titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FF6060;
  color: white;
  border-radius: 10px;
  font-weight: 700;
  padding-left: 10px;
  padding-right: 10px;
}

.fleche-haut {
  transform: rotate(0deg);
  transition: 400ms;
  height: 32px;
  width: 32px;
}

.fleche-bas {
  transform: rotate(180deg);
  transition: 400ms;
  height: 32px;
  width: 32px;
}

.collapse-contenu {
  display: flex;
  flex-direction: column;
  visibility: visible;
  padding: 10px;
  gap: 5px;
  background-color: #F7F7F7;
  border-radius: 0 0 5px 5px;
}

.collapse-cache {
  visibility: hidden;
  height: 0;
}

.collapse-contenu-p {
  margin: 0;
}

.tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tag {
  color: white;
  font-weight: 700;
  font-size: 14px;
  border-radius: 10px;
  border: solid #FF6060;
  background-color: #FF6060;
  padding: 1px 10px 1px 10px;
}

.div-etoiles {
  display: flex;
}
@media (max-width: 426px) {
  .div-etoiles {
    align-items: center;
  }
}

@media (max-width: 426px) {
  .etoiles {
    height: 25px;
  }
}

.collapse {
  width: 47%;
  margin-bottom: 15px;
}
@media (max-width: 769px) {
  .collapse {
    width: 100%;
  }
}

.collapse-titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FF6060;
  color: white;
  border-radius: 10px;
  font-weight: 700;
  padding-left: 10px;
  padding-right: 10px;
}

.fleche-haut {
  transform: rotate(0deg);
  transition: 400ms;
  height: 32px;
  width: 32px;
}

.fleche-bas {
  transform: rotate(180deg);
  transition: 400ms;
  height: 32px;
  width: 32px;
}

.collapse-contenu {
  display: flex;
  flex-direction: column;
  visibility: visible;
  padding: 10px;
  gap: 5px;
  background-color: #F7F7F7;
  border-radius: 0 0 5px 5px;
}

.collapse-cache {
  visibility: hidden;
  height: 0;
}

.collapse-contenu-p {
  margin: 0;
}

.section-accueil {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.banniere {
  height: 150px;
  width: 80%;
  margin-bottom: 30px;
}
@media (max-width: 426px) {
  .banniere {
    width: 90%;
  }
}
.banniere .illustration {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  filter: brightness(50%);
  position: relative;
}

.slogan {
  width: 100%;
  bottom: 61%;
  translate: 20%;
  position: absolute;
  color: white;
  font-weight: 700;
  font-size: 42px;
}
@media (max-width: 1441px) {
  .slogan {
    bottom: 65%;
  }
}
@media (max-width: 1025px) {
  .slogan {
    font-size: 32px;
    bottom: 58%;
    translate: 18%;
  }
}
@media (max-width: 769px) {
  .slogan {
    translate: 10%;
  }
}
@media (max-width: 426px) {
  .slogan {
    width: 50%;
    bottom: 60%;
    font-size: 24px;
  }
}
@media (max-width: 376px) {
  .slogan {
    width: 59%;
  }
}
@media (max-width: 320px) {
  .slogan {
    width: 67%;
    bottom: 62%;
  }
}

.fondgris {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: center;
  background-color: #f6f6f6;
  width: 80%;
  border-radius: 12px;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .fondgris {
    grid-template-columns: 29% 29% 29%;
  }
}
@media (max-width: 769px) {
  .fondgris {
    grid-template-columns: 45% 45%;
  }
}
@media (max-width: 426px) {
  .fondgris {
    grid-template-columns: 110%;
    background-color: white;
    margin-bottom: 0;
  }
}

.carte {
  height: 240px;
  width: 100%;
}
.carte .vignette {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  filter: brightness(85%);
}
.carte .titre-logements {
  left: 3%;
  bottom: 25%;
  width: 80%;
  position: relative;
  color: white;
  font-weight: 700;
  margin: 0;
}
@media (max-width: 1025px) {
  .carte .titre-logements {
    width: 100%;
  }
}
@media (max-width: 426px) {
  .carte .titre-logements {
    width: 90%;
  }
}

.section-logement {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 426px) {
  .section-logement {
    margin-left: 4%;
    margin-right: 4%;
  }
}

.div-logement {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 426px) {
  .div-logement {
    display: block;
  }
}

.titre-logement {
  color: #FF6060;
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}
@media (max-width: 426px) {
  .titre-logement {
    font-size: 22px;
  }
}

.location-logement {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
@media (max-width: 426px) {
  .location-logement {
    font-size: 13px;
  }
}

.div-titre-location {
  flex-direction: column;
  display: flex;
  gap: 5px;
}
@media (max-width: 426px) {
  .div-titre-location {
    width: 100%;
  }
}

.titre-tag {
  flex-direction: column;
  display: flex;
  margin-bottom: 23px;
  gap: 3px;
}

.hote-notation {
  flex-direction: column;
  display: flex;
  gap: 10px;
}
@media (max-width: 426px) {
  .hote-notation {
    justify-content: flex-end;
    gap: 0;
    flex-direction: row-reverse;
    margin-bottom: 18px;
  }
}

.nom-hote {
  color: #FF6060;
  font-weight: 500;
  font-size: 18px;
  margin: 0;
}

.hote {
  gap: 10px;
  width: 10%;
  display: flex;
  align-items: center;
  left: 30%;
  position: relative;
}
@media (max-width: 426px) {
  .hote {
    left: 31%;
  }
}
@media (max-width: 321px) {
  .hote {
    left: 10%;
  }
}

.picture {
  border-radius: 50%;
  height: 60px;
}

.tags-notation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.Collapses {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
@media (max-width: 769px) {
  .Collapses {
    flex-direction: column;
    margin-bottom: 20px;
  }
}

.section-a-propos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.illustration2 {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  filter: brightness(75%);
}

.collapse_a_propos {
  width: 65%;
  margin-bottom: 15px;
}

.section-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.erreur404 {
  font-size: 288px;
  color: #FF6060;
  font-weight: 700;
  margin: 0;
}

.oups {
  font-size: 36px;
  color: #FF6060;
  font-weight: 500;
}

.revenir {
  font-size: 18px;
  font-weight: 500;
  text-decoration-line: underline;
  margin-bottom: 100px;
}

body {
  overflow-x: hidden;
  margin: 30px 0px 0px 0px;
}

* {
  font-family: "Montserrat";
  text-decoration: none;
  color: inherit;
}

h3 {
  margin-top: 12px;
  margin-bottom: 12px;
}/*# sourceMappingURL=index.css.map */